@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(34, 34, 34);
}

input {
  padding: 10px 20px;
  margin: 10px;
}

button {
  padding: 10px 20px;
  margin: 10px;
}